body {
	margin: 0;
	padding-bottom: 6rem;
	background-color: white;
	min-height: 100%;
}

header {
	background: #d0e0d0;
	border-bottom: double 3px #aba;
	border-left: solid 1px #9a9;
	border-right: solid 1px #565;
	border-top: solid 1px #9a9;
	font: italic normal 230% 'Times New Roman', Times, serif;
	letter-spacing: 0.2em;
	margin: 0;
	padding: 0px 10px 0px 60px;
}

center {
	position: absolute;
	top: 40%;
	right: 0;
	bottom: 20%;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding-bottom: 6rem;
	background-color: white;
	min-height: 100%;
}

p.answer {
	text-align: center;
	border: lightgrey solid 1px;
	border-radius: 5px;
	margin-right: 25%;
    margin-left: 25%;
	padding: 10px;
}
footer {
	position: absolute;
	bottom: 0%;
	padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}